extends layout

block content
  script.
    var socket = io.connect();
    $(document).ready(function(){

      socket.on('user joined', function(msg){
        $('#messages').append($('<li class="list-group-item list-group-item-warning">').text(msg.username +' bergabung..'));
      });

      $('form').submit(function(){
        socket.emit('send message', $('#message').val());
        $('#message').val('');
        return false;
      });

      socket.on('chat message', function(msg){
        $('#messages').append($('<li class="list-group-item">').text(msg.from +' : '+msg.msg));
      });
    });
  div.panel.panel-primary
    div.panel.panel-heading
      h2  Ayo Ngobrol bro...
      h3
        span#myName.label.label-danger
    div.panel.panel-body
      form.form-chat.form-horizontal(action="")
        div.form-group
          input.form-control(type="text" id="message")
        div.form-group
          button.button-send.btn.btn-default(type="submit") Send
    ul#messages.list-group
