extends layout

block content
  script.
    $(document).ready(function(){
      var username = 'anonymous';
      var socket = io.connect();
      $('form').submit(function(e){
        var email = $('#email').val();
        if('' != email){
          username = email;
        }
        socket.emit('new user', username);
        name.val('');
      });
    });
  div.panel.panel-primary
    div.panel.panel-heading
      h2  Ayo Ngobrol bro...
    div.panel.panel-body
      form.form-chat.form-horizontal(method="post" action="/login")
        div.form-group
          input.form-control(type="text" name="email" id="email" placeholder="Email kamu")
        div.form-group
          input.form-control(type="password" name="password" placeholder="Password kamu")
        div.form-group
          button.button-send.btn.btn-default(type="submit") Login
